.main{
    display: block;
    width: 100%;
    position: relative;
    margin: auto;
}
.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    width: 80%;
    margin: auto;
    gap: 20px;
    margin-top: 7em;
    margin-left: 11em;
}
.card1{
    display: grid;
    gap: 20px;
    margin: auto;
}
.card1 img{
    width: 9em;
    margin: auto;
    border-radius: 100px;
    box-shadow: rgb(145, 89, 219) 0px 19px 38px, rgb(134, 71, 244) 0px 15px 12px;
}
@media only screen and (max-width:768px){
    .card{
        margin-left: 7em;
    }
}
@media only screen and (max-width:426px){
    .card{
        margin-left: 5em;
    }
}
@media only screen and (max-width:320px){
    .card{
        margin-left: 2em;
    }
}