*{
    margin: 0;
    padding: 0;
}
/* ------------------------------Scroll Webkit ------------------------------- */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(226, 143, 143);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(108, 107, 107);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(164, 165, 164);
  } 
  /* ------------------------------Scroll Webkit ------------------------------- */
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: rgba(8, 205, 37, 0.903) 0px 5px 15px; */
    width: 100%;
    margin: auto;
    height: 80px;
    background-color: white;
    z-index: 3;
}
.nav1>img{
    width: 30px;
}
.nav2{
    font-size: 2em;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(143, 140, 140);
}
.nav3>button{
    padding: 13px;
    width: 100px;
    cursor: pointer;
    background-color: red;
    border: none;
    color: whitesmoke;
    border-radius: 50px;
}
.nav3>button:hover{
    background-color: white;
    border: none;
    color: black;
    border: 2px solid red;
}
@media only screen and (max-width:426px){
    .nav2{
        font-size: 1em;
    }
}